<a href="https://colab.research.google.com/github/resulcaliskan/python_tips_and_tricks/blob/main/Python_Tips_and_Tricks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**First read it, then try to figure out it, and finally do it.**


---

This work is contain a good amount of Python tricks and tips which helps you to write better code. 
`I dedicate this work to python lovers.`

In [ ]:
# Before you start check your python version. All the code run well above 3.6+ version.
import sys
!python --version
print(sys.version)
print(sys.version_info)

Python 3.6.9
3.6.9 (default, Oct  8 2020, 12:12:24)
[GCC 8.4.0]
sys.version_info(major=3, minor=6, micro=9, releaselevel='final', serial=0)

# String Manipulation

### Concatenating

In [ ]:
words = ['This', 'is', 'python', 'trick']
sentence = " ".join(words)
print(sentence)

This is python trick

### Splitting

In [ ]:
sentence = "This is python trick"
words = sentence.split()
print(words)

['This', 'is', 'python', 'trick']

### Reversing

In [ ]:
word = "python"
words = ['This', 'is', 'python', 'trick']
print(word[::-1])
print(words[::-1])

nohtyp
['trick', 'python', 'is', 'This']

### Printing out multiples of strings

In [ ]:
print("Hello there! "*2 + "Cool Python.. "*2)

Hello there! Hello there! Cool Python.. Cool Python..

## Removing unnecessary characters on strings

In [ ]:
name_with_space = "    Resul    "
name_with_slash = "////Resul////"
print(name_with_space.strip())
print( name_with_slash.strip("/"))

Resul
Resul

# Anagram Strings

In [ ]:
from collections import Counter

str_1 = "listen"
str_2 = "silent"
cnt_1, cnt_2 = Counter(str_1), Counter(str_2)

if cnt_1 == cnt_2:
    print(f'Yes, {str_1} and {str_2}  are anagram words.')
else:
    print('Not anagram')

Yes, listen and silent  are anagram words.

# Palindrome Strings

In [ ]:
my_string = "racecar"

if my_string == my_string[::-1]:
  print("yes, it is palindrome")
else:
  print("it is not palindrome")

yes, it is palindrome

# Use Regex to Find Basic Pattern in Strings

In [11]:
# here this pattern matches with all emails.
import re

text = "Some trivial emails are bigman@bigger.com, resgobar@resnet.com and funny@example.com"
pattern = '[\w.]+\@[\w.]+'          # also this "[^@]+@[^@]+\.[^@]+" pattern finds emails with text. 
result = re.findall(pattern, text)  # return as a list

print(result)

['bigman@bigger.com', 'resgobar@resnet.com', 'funny@example.com']

# Frequency of Elements in a List - Counter()

In [ ]:
from collections import Counter

my_list = ['apple','apple','banana','banana','apple','apricot','fig','fig']
count = Counter(my_list)

print(count)
print(count['fig'])
print(count.most_common(1))

Counter({'apple': 3, 'banana': 2, 'fig': 2, 'apricot': 1})
2
[('apple', 3)]

# Using itertools (combinations)

In [ ]:
import itertools
friends = ['Team-A', 'Team-B', 'Team-C', 'Team-D']
list(itertools.combinations(friends, r=2))

#smilarly you can use itertools.permutations()

[('Team-A', 'Team-B'),
 ('Team-A', 'Team-C'),
 ('Team-A', 'Team-D'),
 ('Team-B', 'Team-C'),
 ('Team-B', 'Team-D'),
 ('Team-C', 'Team-D')]

# Unique Elements in a String

In [ ]:
my_string = "llllssssseeeeeeuuuuurrrrr"
temp_set = set(my_string)
new_string = ''.join(temp_set)
print(new_string)

userl

# Swapping values

In [ ]:
x, y = 1, 2
print(x, y)

#Swapping values
x, y = y, x
print(x, y)

1 2
2 1

# Returning multiple values from a function

In [ ]:
def myFunc():
    a = "Hakan"
    b = "40"
    c = "Teacher"
    return a, b, c

name, age, job = myFunc()

print(f'{name} is a {job} and {age} years old.')

Hakan is a Teacher and 40 years old.

# Ternary operator

In [ ]:
y = 30
x = 10 if (y == 30) else 20
print(x)

10

In [ ]:
age_list = [18,14,"eleven"]
for age in age_list:
  check = ("Access Granted!" if (age >= 18) else "Access Denied!") if type(age) == int else "Enter a valid number"
  print(check)

Access Granted!
Access Denied!
Enter a valid number

One line conditional if-else

In [ ]:
age =int(input("Age :"))
"old adults" if age >= 60 else "middle-aged" if 40 <= age < 60 else "young adult"

Age :40

'middle-aged'

# Chained comparison

In [ ]:
a = 4
b = 8
print(a < b < 10)
print(a == b/2 < 10 > b)

True
True

# Chained function call

In [ ]:
def multiply(a,b):
  return a*b

def add(a,b):
  return a+b

x = False
print( (multiply if x else add)(3,5) )

8

# Slicing a list

[start : stop : step]

In [ ]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
steps = num_list[0::2]
print(steps)

[1, 3, 5, 7, 9]

# unpacking list

In [ ]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
a, b, c, d = num_list[4:8]
print(f'a = {a}, b = {b}, c = {c}, d = {d}')

a, *b, c, d = num_list
print(f'a = {a}, b = {b}, c = {c}, d = {d}')

a = 5, b = 6, c = 7, d = 8
a = 1, b = [2, 3, 4, 5, 6, 7], c = 8, d = 9

In [ ]:
my_list = ["Resul", "is", "a", "python", "developer"]
print(' '.join(str(x) for x in my_list))

# or do the same with unpackin the list by * operator
print(*my_list, sep=' ')

Resul is a python developer
Resul is a python developer

# Copying List

Fast way of copying -- shallow copy

In [ ]:
list_1 = [1,2,3,4]
new_list = list_1 # new_list = list_1.copy() also smilar.

print(new_list)
print(new_list == list_1)
print(new_list is list_1)
print(id(new_list), "=", id(list_1))

[1, 2, 3, 4]
True
True
140066204330760 = 140066204330760

using list() or slicing.

In [ ]:
list_1 = [1,2,3,4]
new_list = list_1[:] # new_list = list(list_1) also smilar.

print(new_list)
print(new_list == list_1)
print(new_list is list_1)
print(id(new_list), "!=", id(list_1))

[1, 2, 3, 4]
True
False
140066205129352 != 140066205328904

using deepcopy() to copy nested list.

In [ ]:
from copy import deepcopy

list_1 = [[1,2],[3,4],[5,[6,7],8]]
new_list = deepcopy(list_1)

print(new_list)
print(new_list == list_1)
print(new_list is list_1)
print(id(new_list), "!=", id(list_1))

[[1, 2], [3, 4], [5, [6, 7], 8]]
True
False
140066189213832 != 140066204540616

# List of list flattening

In [ ]:
my_list = [[1, 2, 3], [4, 5], [6], [7, 8, 9]]
sum(my_list, [])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Min and max index in list

In [ ]:
my_list = [4,5,1,3,2]
print(f'index of MIN. number in my_list is : {min(range(len(my_list)), key=my_list.__getitem__)}')
print(f'index of MAX. number in my_list is : {max(range(len(my_list)), key=my_list.__getitem__)}')

index of MIN. number in my_list is : 2
index of MAX. number in my_list is : 1

# Using List Comprehensions

### [ expression for item in list if conditional ]

In [ ]:
# Old way of doing list

def square(a):
  return a**2
  
my_list = [1, 2, 3, 4, 5, 6, 7, 8]
new_list = []
for x in my_list:
  if x % 2 != 0:
    new_list.append(square(x))
print(new_list)

[1, 9, 25, 49]

In [ ]:
# Doing the same list with list comprehension is olny one line.

mylist = [i**2 for i in range(8) if i % 2 !=0 ]
print(mylist)

[1, 9, 25, 49]

In [ ]:
another_comp_list = [i for i in range(50) if i%2==0 and i%5==0]
print(another_comp_list)

[0, 10, 20, 30, 40]

In [ ]:
set_comph = {i**2 for i in range(5)}
print(set_comph)

dict_comph = {k: v**2 for k,v in zip('abcde',range(5))}
print(dict_comph)

{0, 1, 4, 9, 16}
{'a': 0, 'b': 1, 'c': 4, 'd': 9, 'e': 16}

# Merging Dictionaries

In [ ]:
x = {'a': 1, 'b': 2}
y = {'c': 3, 'd': 4}
z = {'e': 5, 'f': 6}
merged = {**x, **y, **z}
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

# Iterating over a dictionary

In [ ]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4} 
for key, value in dict1.items():
    print('{0}: {1}'.format(key, value))

a: 1
b: 2
c: 3
d: 4

# Inverting dictionary

In [ ]:
dict1 = {'one': 1, 'two': 2, 'tree': 3, 'four': 4}
dict2 = { v: k  for k, v in dict1.items() }
print(dict2)

{1: 'one', 2: 'two', 3: 'tree', 4: 'four'}

# Sorting dictionary by value

In [ ]:
d = {"jacket":50, "bag":20, "hat":10, "tshirt":30, "shoes":40}
print(sorted(d.items(), key=lambda x:x[1]))

[('hat', 10), ('bag', 20), ('tshirt', 30), ('shoes', 40), ('jacket', 50)]

# Most frequent element in a list.

In [ ]:
numbers = [1, 2, 3, 4, 2, 2, 3, 1, 4, 4, 2, 4, 4]
print(max(set(numbers), key = numbers.count))

4

# Dictionary get method

In [ ]:
dict1 = dict(zip('abc','123'))
print(dict1)
print(dict1.get("d",4)) # if key is not in dict return default value.

{'a': '1', 'b': '2', 'c': '3'}
4

# Memory usage of an object.

In [ ]:
import sys
obj = [i**2 for i in range(10)]
print(sys.getsizeof(obj))

192

# Path of imported modules

In [ ]:
import os, socket
print(os)
print(socket)

<module 'os' from '/usr/lib/python3.6/os.py'>
<module 'socket' from '/usr/lib/python3.6/socket.py'>

# getpass module

 Input hiding of passwords

In [ ]:
import getpass

users_name_pswd = {"root":"adminpassword"}

user = getpass.getuser()
password = getpass.getpass()

if users_name_pswd[user] ==  password:
  print("You are logged in.")
else:
  print("Access Denied")

··········
You are logged in.

# Using Enumerate to Get Index/Value Pairs

In [ ]:
my_list = ['item1', 'item2', 'item3', 'item4', 'item5']

for index, value in enumerate(my_list):
  print('{0}: {1}'.format(index+1, value))

1: item1
2: item2
3: item3
4: item4
5: item5

# Zipping and enumerate

In [ ]:
id_list = [1, 2, 3, 4]
name_list = ['Hakan', 'Kaan', 'Asiye', 'Resul']
job_list = ['Lawyer', 'Doctor', 'Teacher', 'Engineer']

zip_list = list(zip(id_list, name_list, job_list))
print(zip_list)

for id, name, job in zip(id_list, name_list, job_list):
    print(f'{id}th {name} is a {job}.')

[(1, 'Hakan', 'Lawyer'), (2, 'Kaan', 'Doctor'), (3, 'Asiye', 'Teacher'), (4, 'Resul', 'Engineer')]
1th Hakan is a Lawyer.
2th Kaan is a Doctor.
3th Asiye is a Teacher.
4th Resul is a Engineer.

In [ ]:
first_names = ["Hakan", "Kaan", "Asiye"]
last_names = ["Caliskan", "Aslan", "Yıldız"]

first_last_names = [' '.join(x) for x in zip(first_names, last_names)]
print(first_last_names)

['Hakan Caliskan', 'Kaan Aslan', 'Asiye Yıldız']

# Recursive function

In [ ]:
def recursive_func(n):
  # Base case: 1! = 1
  if n == 1:
    return 1

  # Recursive case: n! = n * (n-1)!
  else:
    return n * recursive_func(n-1)

print(recursive_func(10))

3628800

# Calculate the execution time of function

In [ ]:
import time
# using time() method
start_time = time.time()
some_of_list = sum([num for num in range(1_000_000)])
time_diff = (time.time() - start_time)

print("Total process time: {0:.4} ms".format(time_diff))

Total process time: 0.07727 ms

In [ ]:
import time
# using clock() method
start = time.clock()
sum((i * i for i in range(1_000_000)))
time_diff = time.clock() - start

print(f"Total process time: {time_diff:.4} ms")

Total process time: 0.0928 ms

# Files, directories and subdirectories of the current working directory.

In [ ]:
import os
cwd = os.getcwd()
for dir_path, dir_names, file_names in os.walk(cwd):
    for f in file_names[:2]: # only two of files in every directory
        print(f)

# Apply a function to every item in an iterable

map(function, iterable)

In [ ]:
num_list = [1, 2, 3, 4, 5]

def square(num):
  return num*num

result = list(map(square, num_list))
print(result)

[1, 4, 9, 16, 25]

# Lambda expressions

One line function.

In [ ]:
square = lambda num: num * num
print(square(5))

x = [1, 2, 3, 4, 5]
print(list(map(lambda num: num * num, x)))

25
[1, 4, 9, 16, 25]

In [ ]:
# Sorting with lambda function
my_list = [10, -20, 30, 40, -5]
print(sorted(my_list, key = lambda x : abs(x)))

[-5, 10, -20, 30, 40]

# Reduce function

reduce(function, list)

In [ ]:
from functools import reduce

product = reduce((lambda x, y: x * y),[1, 2, 3, 4])
print(product)

24

# Filter function

filter(function, list)

In [ ]:
x = list(range(100))
all_full_division_by_5 = list(filter(lambda num:num % 5 == 0, x))
print(all_full_division_by_5)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

# Open two files

In [ ]:
with open("first.txt") as my_file, open("second.txt") as second_file:
  for line_number, (line1, line2) in enumerate(zip(my_file, second_file)):
    print(line_number, (line1, line2))

# To query a rest service

In [ ]:
import requests
url = 'http://www.example.com/'
response = requests.get(url).text
print(response[:55])

<!doctype html>
<html>
<head>
    <title>Example Domain

# Higher order functions

In [ ]:
def sum_of_nums(nums):
  return sum(nums)

def power_of_nums(nums):
  return [i**2 for i in nums]

def high_order_func(func, num_list):
  return func(num_list)

print(high_order_func(sum_of_nums, [1, 2, 3]))
print(high_order_func(power_of_nums, [1, 2, 3]))

6
[1, 4, 9]

# Generator (on the fly iteration)

In [ ]:
def num_generator(n):    # an infinite sequence generator that generates integers >= n
    while True:
        yield n
        n += 1
        
plus_one = num_generator(3)     # starts at 3
print(next(plus_one)) # 3
print(next(plus_one)) # 4
print(next(plus_one)) # 5
print(next(plus_one)) # 6

3
4
5
6

# Using coroutine and decorators

Power function.

In [ ]:
import math
""" This program has two function first one is couroutine and the latter is decorator.
    It produces the power of given number """

def coroutine(gen_fn):
    def inner(*args, **kwargs):
        gen = gen_fn(*args, **kwargs)
        next(gen)
        return gen
    return inner

@coroutine
def power(p):
    result = None
    while True:
        received = yield result
        result = math.pow(received, p)

squares = power(2)
cubes = power(3)
quadro = power(4)

print(squares.send(4))
print(cubes.send(4))
print(quadro.send(4))

16.0
64.0
256.0

# Error handling "try-except-else-finally" blocks

In [ ]:
num1, num2 = 10, 2

try:
  print(f'result:{num1/num2}')
except ZeroDivisionError as e: # exception raised when num2 is 0
  print("Error!", e)
else:
  print("no exceptions raised")
finally:
  print("this always run")

result:5.0
no exceptions raised
this always run



---
Congratulations,
happy pythoning...


---


Resul ÇALIŞKAN - Data Scientist


---